@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    // Not specifying a layout will result in using a default layout!
    // The default layout is specified in _ViewStart.cshtml
    // html tags <!DOCTYPE>, <html>, <head> and <body> are already specified in _Layout.cshtml
    // When using _Layout.cshtml you do not need these tags in this view
}


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Restaurant.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
